.chatbot-container {
    width: 100%;
    /* margin: 70px auto; */
    padding: 20px;
    height: 100%;
    /* background-color: #f9f9f9; */
    background-color: #FDFDF8;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index:99;
}

.chatbox {
    height: 90%;
    overflow-y: scroll;
    padding: 10px;
    border: 0.5px solid #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
    z-index:99;
}

.message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    max-width: 80%;
    /* margin-top:60px; */
}

.audio-message {
    color: gray;
    font-style: italic;
}

.user-message {
    background-color: darkgray;
    text-align: right;
    margin-left: auto;
    width: fit-content;
    color: white;
}

.system-message {
    background-color: #f1f1f1;
    text-align: left;
    margin-right: auto;
    width: fit-content;
}

/* Record Button Style */
.record-btn {
    background-color: gray;
    padding: 10px;
    border: none;
    border-radius: 50% !important;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: 46%;
    position: relative;
    transition: background-color 0.3s ease;
}

.record-btn svg {
    font-size: 18px;
}

/* Pulse animation when recording */
.record-btn.recording {
    background-color: #e84f5f !important;
    animation: pulse 1.5s infinite;
}

/* Pulsing animation */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.confirmation-box {
    display: flex;
    justify-content: flex-end;
}

.loading-dots {
    display: inline-block;
    font-size: 20px; /* Size of the dots */
    line-height: 0;  /* Remove extra space around dots */
  }
  
  .loading-dots span {
    display: inline-block;
    margin: 0 3px;
    opacity: 0;
    font-weight: bolder;
    animation: dot-blink 1.5s infinite;
  }
  
  .loading-dots span:nth-child(1) {
    animation-delay: 0s;
  }
  
  .loading-dots span:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .loading-dots span:nth-child(3) {
    animation-delay: 0.7s;
  }
  
  @keyframes dot-blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  