.dashboard-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.calendar-section {
  width: 800px;
}

.chat-section {
  width: 500px;
  /* background-color: #FEF6E4; */
  padding: 30px 20px 20px 20px;
  height: 600px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 100px;
}

/* Styling for Chatbot inside the chat section */
.chat-section button {
  margin-top: 10px;
  padding: 10px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chat-section button:hover {
  background-color: #5a6268;
}
.rbc-event{
  background-color:#8B8378;
}
.calendar-wrapper {
  position: relative; /* To allow the overlay to be positioned on top */
}

.overlay-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.4); /* A white transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; /* Ensure it's on top */
}

